/* 1-6 */
h1 {
    text-align: right;
}
/* 2-2 */
h2 {
    text-align: center;
}
/* 3-1 */
table{
    width: 500px;
}
/* 4-1 */
th{
    text-align: left;
}
/* 5-1 */
td{
    text-align: center;
}
/* 6-1 */
p{
    width: 300px;
}
/* 7-1 */
p{
    text-align: justify;
}
/* 8-1 */
h2{
    width: 300px;
    text-align: center;
}